.stepper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin: 30px 0;
}

.step {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}

.step .circle {
    width: 40px;
    height: 40px;
    /* background-color: #0D6EFD; */
    background-color: #7d7b75;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.7s;
    z-index: 2;
    cursor: pointer;
}
.step .circle i{
    font-size: 18px;

}

.step.active .circle {
    /* background-color: #7d7b75;  */
    background-color:#17479E;
}

.step.completed .circle {
    background-color: #28a745;
}

.step p {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
}

.step:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 30px;
    /* background-color: #0D6EFD; */
    background-color: #7d7b75;
    left: 20px;
    top: 40px;
    z-index: 1;
}

.step.completed:not(:last-child)::after {
    background-color: #28a745; 
}

.content {
    display: none;
    padding: 10px;
    border-left: 3px solid #ddd;
}

.content.active {
    display: block;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 75%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color:black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #17479E;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right,#17479E, #17479E);
  border-image-slice: 1;
}
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

.radio__group {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.radio__input {
  display: none; /* Hide the default radio button */
}

.radio__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s;
  color: #9b9b9b;
}

.radio-type-label{
  font-size: 1rem;
  color: #9b9b9b;
}
.radio__label::before {
  content: "";
  width: 18px;
  height: 18px;
  border: 2px solid #9b9b9b;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  transition: 0.2s;
}

.radio__input:checked + .radio__label {
  color: black;
  font-weight: 500;
}

.radio__group:focus-within > label {
  color: #17479E; /* Change color when radio is focused */
  font-weight: 700;
  transition: 0.2s;
}


.radio__input:checked + .radio__label::before {
  border-color: #17479E;
  background: radial-gradient(circle, #17479E 40%, transparent 41%);
}



.bi-patch-check-fill{
  font-size: 18px;
  color: #28a745 !important;
}
.bi-star-fill,.bi-eye-fill{
  color:#17479E !important
}
.accordion-button:not(.collapsed){
  background-color: #17479E !important;
  color: white !important;
}

.logo-container img{
  width: 100px;
}